[Unit]
Description=gamedoora-user-services
After=syslog.target gamedoora-config-server.service

[Service]
User=gamedoora
ExecStart=/opt/gamedoora/gamedoora-user-services.jar
SuccessExitStatus=143
Environment="CONFIG_SERVER=http://localhost:8888"
[Install]
WantedBy=multi-user.target
